body {
    background: #E8F5E9;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 3em;
    padding: 0.5em 1em;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 3em;
    margin-top: 1em;
    line-height: 34px;
    color: rgba(1, 1, 255, 0.87);
}

.counter{
    color: blue;
    font-size: 1.25em;
    margin-top: 0.5em;
}

.buttonList{
    margin-bottom: 1em;
}

.buttonList button{
    border-radius: 1em;
    font-size: 1.3em;
    width: 10em;
    margin-right: 0.5em;
    border-color:  blue;
    color: blue;
    background-color: white;
}

.buttonList button:hover{
    cursor: pointer;
    opacity: 0.5;
}


.todoName{
    width: 35em;
    font-size: 1.15em;
    display: inline-block;
}

.date{
    font-size: 1.15em;
    display: inline-block;
    font-style: italic;
}

.completed {
    margin-left: 3em;
    border-radius: 0.75em;
    border-color: green;
    background-color: white;
    color: green;
    font-size : 1.0em;
    display: inline-block;
}

.delete{
    margin-left: 3.0em;
    border-color: red;
    border-radius: 0.75em;
    color: red;
    font-weight: bold;
    font-size : 1.2em;
    background-color: white;
    display: inline-block;
}

.fav{
    color: yellow;
    margin-right: 1.0em;
    font-size:2em;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
    display: inline-block;
}

.fav:hover{
    cursor: pointer;
}

.submitForm {
    margin-top: 2em;
    margin-bottom: 2em;
}

.submitForm button {
    border-radius: 0.35em;
    border-color: blue;
    color: blue;
    font-weight: bold;
    font-size : 1.3em;
    background-color: white;
}

.submitForm button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.submitForm input {
    border-color: blue;
    border-radius: 0.35em;
    font-size : 1.3em;
}

.todolist {
    list-style-type: none;
}

.noDeleteComplete{
    border-radius: 1em;
    font-size: 1.3em;
    width: 10em;
    margin-right: 0.5em;
    border-color:  blue;
    color: blue;
    background-color: white;
    opacity: 0.35;
    margin-bottom: 1em;
}
